services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    volumes:
      - ./server/data/db:/root/data/db
      - ./server/data/uploads:/root/data/uploads
    networks:
      - homeloggerNetwork
    restart: unless-stopped

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3005:3000"
    volumes:
      - ./client/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - server
    networks:
      - homeloggerNetwork
    restart: unless-stopped

networks:
  homeloggerNetwork:
    driver: bridge
